/vendor
/examples/member/member
/examples/player/player
/examples/affiliate-description/affiliate-description
/examples/event-description/event-description
/examples/event-standings/event-standings
/examples/rating-supplements/rating-supplements
/examples/crosstable/crosstable